<div class="jumbotron">
<p>Now I am become pretentious, the destroyer of worlds...</p>

</div>

<% unless !user_signed_in? %>
<%= link_to image_tag(root_url + "iiif/AGPS1254/full/2000,/0/default.jpg", class: 'reg_img'), images_url %>
<% end %>